.chat_content {
    height: 65vh;
    overflow-y: scroll;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
}

.message-box-sent {
    display: block;
    margin-right: 20px;
    text-align: end;
}

.message-box-received {
    display: block;
    margin-right: 20px;
    text-align: start;
}

.message-bubble {
    position: relative;
    display: inline-block;
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.box_description {
    border: 1px solid var(--primary-color);
}
