.page-link {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.page-link:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color-hover);
}

.active-page * {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.label-page-selector {
    margin-right: 20px;
}
.select-page-selector {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
}