.block_ {
    width: 20vw;
    border: 1px solid var(--primary-color);
    border-radius: 0.6rem;
    padding: 10px;
    margin: 5px;
}

.block_:hover {
    background-color: var(--secondary-color-hover);
}

.icon_block {
    font-size: 2.3rem;
}
