.table-custom, thead, tbody, td, tr, th {
    background-color: rgba(0, 0, 0, 0);
    color: var(--secondary-color);
}

.table-custom td {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);    
}

.table-custom th {
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-color);
}

.col-auto-width {
    width:1%;
    white-space: nowrap;
    text-align: center;
}

.btn-massive-actions {
    background-color: var(--static-secondary-color);
}

.btn-massive-actions:hover {
    background-color: var(--static-secondary-color-hover);
    color: var(--static-primary-color-hover);
}

