:root {
  --secondary-color: #f9f9f9;
  --secondary-color-hover: #e7e7e7;
  --primary-color: #1f1f1f;
  --primary-color-hover: #0e0e0e;

  --static-secondary-color: #f9f9f9;
  --static-primary-color: #1f1f1f;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-hover);
}

.div_main_content {
  height: 70vh;
}

.btn-custom {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-custom:hover {
  background-color: var(--secondary-color-hover);
  color: var(--primary-color);
}