:root {
  --secondary-color: #f3f3f3;
  --secondary-color-hover: #c5c3c3;
  --primary-color: #2c2c2c;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: #dddddd;
}

.div_main_content {
  height: 70vh;
}