.main_menu_item {
    width: 17vw;
    height: 25vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.main_menu_item:hover {
    background-color: #d4d4d4;
    color: var(--primary-color);
}

.icon_main_menu_item {
    font-size: 7rem;
}

.text_main_menu_item {
    font-size: 1.4rem;
}