.main_menu_item {
    width: 240px;
    height: 150px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.main_menu_item:hover {
    background-color: var(--primary-color-hover);
    color: var(--secondary-color-hover);
}

.icon_main_menu_item {
    font-size: 7rem;
}

.text_main_menu_item {
    font-size: 1.4rem;
    color: var(--secondary-color-hover);
}