@use "./variables";
body {
	font-family: variables.$font-family-base;
	font-size: variables.$font-size-base;
	background-color: variables.$color-white;
	color: variables.$color-black;
	margin: 0;
	padding: 0;
}

* {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
}
