@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$font-family-base: "Poppins", sans-serif;

$color-primary: #394ca4;
$color-secondary: #293570;
$color-tertiary: #5569c3;
$color-white: #edeef8;
$color-black: #242425;
