@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$font-family-base: "Poppins", sans-serif;

$color-primary: #394ca4;
$color-secondary: #293570;
$color-tertiary: #5569c3;
$color-white: #edeef8;
$color-black: #242425;
$color-red: #ea564b;
$color-yellow: #f6c94c;
$color-dark-yellow: #d6b83f;

$font-size-base: 1rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;
