:root {
    --secondary-color: #f9f9f9;
    --secondary-color-hover: #e7e7e7;
    --primary-color: #1f1f1f;
    --primary-color-hover: #0e0e0e;

    --static-secondary-color: #f9f9f9;
    --static-primary-color: #1f1f1f;
    --static-secondary-color-hover: #e7e7e7;
    --static-primary-color-hover: #0e0e0e;
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

.div_main_content {
    height: 70vh;
}

.btn-custom {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 5px;
}

.btn-custom:hover {
    background-color: var(--secondary-color-hover);
    color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.input-text {
    display: block;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 4.5px;
    padding: 4px;
    padding-left: 7px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.input-text::placeholder {
    color: var(--primary-color);
}

.input-text:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
    outline: none;
}

.btn-clean {
    border: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn-send {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 5px;
    width: 10vw;
    height: 40px;
}

.btn-send:hover {
    background-color: var(--secondary-color-hover);
    color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}
