.chat_content {
    height: 65vh;
    overflow-y: scroll;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
}

.btn_send_message {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 5px 15px;
}

.btn_send_message:hover {
    background-color: var(--secondary-color-hover);
    color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.btn_send_message_dropdown_togle {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0 6px 6px 0;
    padding: 5px 10px;
}

.btn_send_message_dropdown_togle:hover {
    background-color: var(--secondary-color-hover);
    color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.dropdown_options_message {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 1px;
}

.dropdown_options_message > li > button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.dropdown_options_message > li > button:hover {
    background-color: var(--secondary-color-hover);
    color: var(--primary-color-hover);
}

.message-box-sent {
    display: block;
    text-align: end;
}

.message-box-received {
    display: block;
    text-align: start;
}

.message-bubble {
    position: relative;
    display: inline-block;
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    max-width: 50%;
}

.box_description {
    border: 1px solid var(--primary-color);
}

.box_user_identity {
    border: 1px solid var(--primary-color);
}

.box_message_details {
    border-bottom: 1px solid var(--primary-color);
}
